<!DOCTYPE html>
<html ng-app="RelationsAoo">

<head>
  <title>Relations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <style>
    .container {
      max-width: 800px;
    }
    .fa-check{
      color: green
    }
    .fa-times{
      color: red
    }
  </style>
</head>


<body ng-controller="MainCtrl">
  {% raw %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <h1>Relations 3001</h1>
        <br>
        <form role="form">
          Universo
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.one" id="url-box" style="max-width: 200px;" required>
          </div>
          Parejas
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.two" id="url-box" style="max-width: 200px;" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.three" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.four" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.five" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.six" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.seven" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.eight" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.nine" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.ten" id="url-box" style="max-width: 200px;" >
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="inputBoxes.eleven" id="url-box" style="max-width: 200px;" >
          </div>
          <button ng-click="getResults()" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div class="col-md-9">
        <h2>Propiedades</h2>
        <br>
        <div id="results">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Reflexiva</th>
                <th>Irreflexiva</th>
                <th>Simétrica</th>
                <th>Asimétrica</th>
                <th>Antisimétrica</th>
                <th>Transitiva</th>
                <th>parejas</th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="item in states">
                <td>
                  <i class="fa" ng-class="{false:'fa-times', true:'fa-check'}[item.reflexiva]"></i>
                </td>
                <td>
                  <i class="fa" ng-class="{false:'fa-times', true:'fa-check'}[item.irreflexiva]"></i>
                </td>
                <td>
                  <i class="fa" ng-class="{false:'fa-times', true:'fa-check'}[item.simetrica]"></i>
                </td>
                <td>
                  <i class="fa" ng-class="{false:'fa-times', true:'fa-check'}[item.asimetrica]"></i>
                </td>
                <td>
                  <i class="fa" ng-class="{false:'fa-times', true:'fa-check'}[item.antisimetrica]"></i>
                </td>
                <td>
                  <i class="fa" ng-class="{false:'fa-times', true:'fa-check'}[item.transitiva]"></i>
                </td>
                <td style="font-size:smaller">{{item.parejas }}</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br><br> {% endraw %}

  <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="{{ url_for('static', filename='controllers.js') }}"></script>
</body>

</html>